@CHARSET "UTF-8";

details>div {
	display: block;
	padding-top: 10px;
	margin: 0px;
	padding-bottom: 3px;
	box-shadow: 0px 1px 2px rgb(117, 157, 176);
	padding-left: 20px;
}

summary:hover {
	cursor: pointer
}

/* UTM ERICSSON CAPITAL fonts Downloaded from: http://font2s.com/fonts/13174/utm_ericsson_capital.html#.VO0gd2OjgfA */
@font-face {
	font-family: 'Utm Ericsson Capital';
	src: url('UTM Ericsson Capital.ttf') format('truetype');
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
	/*background: url(../images/admin_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	/*background-image: url("../images/bg.gif");
    background-repeat: repeat-y;
    background-repeat: repeat-x;*/
}

body {
	height: 100%;
	width: 100%;
	background-color: #5F9EA0;
}

#charts, #chartsMonthly{
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.chartTitle{
	text-align: center;
	width: 1024px;
	color: white;
	font-size: 20px;
	font-family: tahoma,arial;
	line-height: 1em;
	text-shadow: 1px 2px 2px black;
}

#error{
	color:red;
}

#index {
	background: url(../images/admin_background.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#admin {
	background-color: rgb(255, 250, 240);
}

#queries {
	line-height: 150%;
}

.ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
}
    
.left_nav {
	position: fixed;
	height: calc(100% - 55px);
	display: flex;
	flex-direction: row;
	float: left;
	width: 200px;
}

.viewport img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #FFF !important;
}

a {
	text-decoration: none !important;
}

nav * {
	font-family: Utm Ericsson Capital;
	background-color: rgb(29, 69, 123);
	border-color: #080808;
}

nav button {
	height: 55px;
	background-color: transparent;
	border: 0px;
	color: white;
	cursor: pointer;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 2px solid transparent;
	font-family: "Exo", sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

nav .nav_left_side>button.selected {
	background-color: #1A3E6D;
	border-bottom: 2px solid white;
}

nav button:hover {
	background-color: #1A3E6D;
	border-bottom: 2px solid white;
}

nav .nav_left_side {
	position: relative;
	height: 100%;
	float: left;
	width: 100%x;
	overflow-y: auto;
}

nav .nav_left_side>button {
	position: relative;
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

.logo {
	width: 250px;
}

.logo:hover {
	cursor: pointer;
}

nav .nav_top_side_right {
	align-self: center;
	color: #9FE7D8;
	font-weight: 600;
	z-index:9999;
}

nav .nav_top_side_right ul {
	list-style: none;
}

nav .nav_top_side_right ul li {
	position: relative;
	cursor: pointer;
}

nav .nav_top_side_right ul li ul {
	position: absolute;
	top: 55px;
	visibility: hidden;
	width: 100%;
}

nav .nav_top_side_right ul li ul button {
	height: 30px;
	width: 100%;
	text-align: center;
}

nav .nav_top_side_title {
	font-size: 2.5em;
	color: white;
	flex-grow: 1;
	text-align: center;
}

#title {
	margin-right: 150px;
}

nav a {
	font-size: 1.5em;
	color: white;
}

nav .nav_top_side {
	top: 0px;
	border-width: 0px 0px 1px;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 3px black;
}

form .inline_center {
	text-align: center;
	display: inline-block;
}

.column {
	position: relative;
	display: flex;
	height: calc(100% - 55px);
}

div .viewport {
	flex-direction: row;
	width: calc(100% - 200px);
	height:  calc(100% - 55px);
	overflow-y: auto;
	left: 200px;
	position: fixed;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

table a:visited {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

table a:active, table a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec;
	margin: 20px;
	border: #ccc 1px solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	overflow-x:hidden;
}

table th {
	padding: 11px 15px 11px 15px;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

th {
    text-transform: uppercase;
}

table th:first-child {
	text-align: left;
	padding-left: 20px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

table tr {
	text-align: center;
	padding-left: 20px;
}

table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}

table td {
	padding: 10px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
		to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:nth-child(even) td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f6f6f6));
	background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
	border-bottom: 0;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

#dataTable{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px; 
}

.hide {
	display: none;
}

.show {
	display: inline-block;
}

.viewport {
	width: 100%;
	text-align: center;
}

h1, h2 {
	font-family: "Exo", sans-serif;
	margin: 10px 0;
	font-weight: bold;
	text-rendering: optimizelegibility;
	font-size: 36px;
	line-height: 1.5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	color: #285A7E;
	font-variant: small-caps;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#tablespace {
	display: flex;
	align-items: center;
	justify-content: center;
}

#tablespace table{
	min-width: 500px;
}

/* CSS spinner doanloaded from http: //cssload.net /#sthash.FjBd1SOk.dpuf */
#circularG{
position:relative;
width:128px;
height:128px;
top:50%; 
left:50%; 
margin-left:-64px; 
margin-top:-64px;
}

.circularG{
position:absolute;
background-color:#1D457B;
opacity:0.5;
width:29px;
height:29px;
-moz-border-radius:19px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:19px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-o-border-radius:19px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-border-radius:19px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:19px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG #description{
	position: absolute;
	top: 40%;
	font-size: 15px;
	width: 50px;
	height: 50px;
	left: 22%;
	font-weight: 600;
	font-family: Arial;
	color: rgb(28, 54, 71);
}

#circularG_1{
left:0;
top:50px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:14px;
top:14px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:50px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:14px;
top:14px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-o-animation-delay:0.78s;
-ms-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:50px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-o-animation-delay:0.91s;
-ms-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:14px;
bottom:14px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-o-animation-delay:1.04s;
-ms-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:50px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-o-animation-delay:1.17s;
-ms-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:14px;
bottom:14px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-o-animation-delay:1.3s;
-ms-animation-delay:1.3s;
animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
0%{-moz-transform:scale(1)}
100%{-moz-transform:scale(.3)}
}

@-webkit-keyframes bounce_circularG{
0%{-webkit-transform:scale(1)}
100%{-webkit-transform:scale(.3)}
}

@-o-keyframes bounce_circularG{
0%{-o-transform:scale(1)}
100%{-o-transform:scale(.3)}
}

@-ms-keyframes bounce_circularG{
0%{-ms-transform:scale(1)}
100%{-ms-transform:scale(.3)}
}

@keyframes bounce_circularG{
0%{transform:scale(1)}
100%{transform:scale(.3)}
}

input:not([type=file]), select{
	font-size: 15px;
	font-family: font-family: "Exo",sans-serif;
	padding:5px 10px;
	margin:2px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgb(29, 69, 123);
}

.button {
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #97C4FE inset;
	display: inline-block;
	color: rgb(29, 69, 123);
	font-size: 15px;
	margin: 5px;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid rgb(29, 69, 123);
	font-family: "Exo",sans-serif;
	font-weight: 600;
}.button:hover {
	background-color:rgb(29, 69, 123);
	color:rgb(255,255,255);
	box-shadow: none;
}.button:active {
	position:relative;
	top:1px;
}

.register_form{
	display: flex;
	align-items: center;
	justify-content: center;
}

.register_form >#registrationForm select, input, p{
	width:200px;
}

.register_form > #registrationForm {
	width: 400px;
	margin-left:-150px;
}

.left{
	text-align:right;
	float:left;
	width:50%;
	height:35px;
	line-height: 35px;
}

.right{
	text-align:left;
	float:right;
	width:50%;
	height:35px;
	line-height: 35px;
}

.inline{
	display:inline;
}
.inline >div{
	display:inline;
}

#chartContainer{
	height: 500px;
	width: 800px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top:20px;
}

.pop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	background: #fff;
	border: 1px solid #999;
	padding: 10px;
	width: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	max-height: 400px;
	overflow-y: auto;
	overflow-x: auto;
}


.popoverCloseIcon {
	display: inline-block;
	color: #555;
	font-weight: 800;
}

.popoverClose {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 7px;
	z-index: 12;
	color: red;
	font-weight: 900;
}

.popoverTitle {
	min-width: 200px;
	border-bottom: 1px solid grey;
	padding-bottom: 5px;
	color: #696969;
}